

.body{
  overflow-y: hidden;
  overflow-x: hidden;
}

  .header{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    padding:5% 10%;
  }
  .header img{
    height:200px;
    width:400px;
  }
  
  
  
  
  
  
  
#footer {
      background-color: #fff;
      text-align: center;
      padding: 100px 15% 20%;
    }
    .spanSpace {
      padding-left: 25px;
      padding-right: 25px;
    }
    .social {
      padding-bottom: 5%;
    }
    
    @media (max-width: 1028px) {
      #title {
        text-align: center;
      }
      .iphone-img {
        position: static;
        transform: rotate(0);
      }
    }